# Count Based Word Representation

## Bow (Bag of Words)

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = ['you know I want your love. because I love you.']
vector = CountVectorizer()

print(f'bag of words vector : {vector.fit_transform(corpus).toarray()}')

print(f"vocabulary : {vector.vocabulary_}")

bag of words vector : [[1 1 2 1 2 1]]
vocabulary : {'you': 4, 'know': 1, 'want': 3, 'your': 5, 'love': 2, 'because': 0}

### Bow with Cleaning using Stopwords - User Select

In [4]:
text = ["Family is not an important thing. It's everything."]
vect = CountVectorizer(stop_words=["the", 'a', 'an', 'is', 'not'])
print(f"Bag of words vector : {vect.fit_transform(text).toarray()}")
print(f"Vocabulary : {vect.vocabulary_}")

Bag of words vector : [[1 1 1 1 1]]
Vocabulary : {'family': 1, 'important': 2, 'thing': 4, 'it': 3, 'everything': 0}

### Bow with Cleaning using Stopwords - Model Select

In [5]:
text = ["Family is not an important thing. It's everything."]
vect = CountVectorizer(stop_words='english')
print(f"Bag of words vector : {vect.fit_transform(text).toarray()}")
print(f"Vocabulary : {vect.vocabulary_}")

Bag of words vector : [[1 1 1]]
Vocabulary : {'family': 0, 'important': 1, 'thing': 2}

### Bow with Cleaning using Stopwords - NLTK

In [7]:
from nltk.corpus import stopwords

text = ["Family is not an important thing. It's everything."]
stop_words = stopwords.words("english")
vect = CountVectorizer(stop_words = stop_words)
print(f"Bag of Words Vector : {vect.fit_transform(text).toarray()}")
print(f"Vocabulary : {vect.vocabulary_}")

Bag of Words Vector : [[1 1 1 1]]
Vocabulary : {'family': 1, 'important': 2, 'thing': 3, 'everything': 0}

### DTM -> Document-Term Matrix

#### 서로 다른 문서들의 BoW를 결합한 방법 <br> DTM에 불용어 처리와 중요한 단어에 대한 가중치 설정한 것이 TF-IDF

### TF-IDF (Term Frequency-Inverse Document Frequency)

In [13]:
import pandas as pd
from math import log

docs = [
    '먹고 싶은 사과',
    '먹고 싶은 바나나',
    '길고 노란 바나나 바나나',
    '저는 과일이 좋아요'
]
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()
vocab

['과일이', '길고', '노란', '먹고', '바나나', '사과', '싶은', '저는', '좋아요']

In [9]:
N = len(docs)

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df+1))

def tfidf(t, d):
    return tf(t, d) * idf(t)

In [11]:
result = []

for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_

   과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    2   0   0   0    0
3    1   0   0   0    0   0   0   1    1

In [14]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index=vocab, columns=["IDF"])
idf_

          IDF
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사과   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147

In [15]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tfidf(t, d))

tfidf_ = pd.DataFrame(result, columns=vocab)
tfidf_

        과일이        길고        노란        먹고       바나나        사과        싶은        저는       좋아요
0  0.000000  0.000000  0.000000  0.287682  0.000000  0.693147  0.287682  0.000000  0.000000
1  0.000000  0.000000  0.000000  0.287682  0.287682  0.000000  0.287682  0.000000  0.000000
2  0.000000  0.693147  0.693147  0.000000  0.575364  0.000000  0.000000  0.000000  0.000000
3  0.693147  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.693147  0.693147

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]

vector = CountVectorizer()

print(vector.fit_transform(corpus).toarray())
print(vector.vocabulary_)

[[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]

tfidfv = TfidfVectorizer().fit(corpus)
print(tfidfv.transform(corpus).toarray())
print(tfidfv.vocabulary_)

[[0.         0.46735098 0.         0.46735098 0.         0.46735098
  0.         0.35543247 0.46735098]
 [0.         0.         0.79596054 0.         0.         0.
  0.         0.60534851 0.        ]
 [0.57735027 0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.        ]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}